@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; box-sizing:border-box; outline:none}
li {list-style:none}
a {text-decoration:none}


.dn-shop-searchbox {padding-top:130px; width:1200px; margin:0 auto; text-align: center;
position:relative}
.dn-shop-searchbox .ico {
    width: 30px;
    height: 30px;
    background:url(../../../img/searchico.png) no-repeat 0 0;
    background-size:contain;
    display:inline-block;
    position:absolute;
    left: 255px;
    top: 145px;
    }
.dn-shop-searchbox input {width: 740px;height: 60px;border-radius: 40px;
    background:#f2f2f2 ;text-align: left;padding-left: 75px;
    font-family: 'NotoSansKR-Regular';font-size: 20px;}
.dn-shop-searchbox input::placeholder { color:#b5b5b5}

.dn-shop-searchbox .delete {
    width: 30px;
    height: 30px;
    background:url(../../../img/cancelico.png) no-repeat 0 0;
    background-size:contain;
    position: absolute;
    right: 250px;
    top: 145px;
    font-size:0;
    }

.dn-shop-search-area {}
.dn-shop-search-area .bg-color {
    width:1280px;
    background-color: #f7f7f7;
    margin: 40px auto 0 auto;
    border-radius: 30px;
    height:800px;
    }

.tabnav-box-area {width:1280px;margin: 65px auto 0 auto;}
.tabnav-box-area .tabnav-box {
}
.tabnav-box-area .tabnav-box .tabnav-list {display:flex;justify-content: center;column-gap: 40px;}
.tabnav-box-area .tabnav-box .tabnav-list .tabnav {
    padding: 5px 15px;
}
.tabnav-box-area .tabnav-box .tabnav-list .tabnav > a {font-size: 20px;
    font-family: 'NotoSansKR-Medium';}

.tabnav-box-area .tabnav-box .tabnav-list .tabnav.on {
    background: #111;
    border-radius: 20px;
}
.tabnav-box-area .tabnav-box .tabnav-list .tabnav.on > a {color:#fff}
